nav {
margin-top: 120px;
margin-left: 50px;
}
a {
    text-decoration: none;

}

.breadcrumbs-inactive {
    color: #cccccc;
cursor: initial;

    }
.breadcrumbs-active {
    color: #000000;

    }

.breadcrumbs-arrow {
    margin-left: 10px;
    margin-right: 10px;
    }