.card {
    border-radius: 16px;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.1);
    padding: 16px 30px;

    h2 {
        font-size: 15px;
        border-bottom: 3px solid #ff9fdb;
        letter-spacing: 0.1em;
        margin-bottom: 10px;
        width: fit-content;
    }

    h3{
        font-size: 25px;
        padding-bottom: 10px;
    }

    figure {
        display: block;
        width: 100%;
        margin-bottom: 15px;

        img {
            display: block;
            width: 100%;
            height: 128px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 17px;
        }
    }
}