.container {
    padding-top: 50px;
    display: flex;
    justify-content: center;

}

#img-box {
        height: 328px;
        border-radius: 10px;
        margin-right: 30px;
    }

#card-detail {
    box-shadow: none;
    padding-top: 0px;
}

.description {
    border-bottom: grey 1px solid;

    h3 {
        padding-bottom: 0px;
    }

    #price {
        padding-bottom: 10px
    }

    p {
        padding-bottom: 5px;
    }
}

form {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
  

    span {
        font-size: 13px;
        color: grey;
        padding-bottom: 5px;
    }

    p {
        color: black;
        font-size: 15px;
        margin-bottom: 10px;
        grid-column: 1 / span 2;
    }

    .container-btns {
        grid-column: 1 / span 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .color-btns {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 1px;
        margin-right: 5px;
        margin-bottom: 8px;
        border: none;
        appearance: none;
        outline: none;
        cursor: pointer;
    }
    .storage-btns {
        width: 35px;
        height: 30px;
        border-radius: 20%;
        margin-right: 5px;
        margin-bottom: 8px;
        border: none;
        appearance: none;
        outline: none;
        cursor: pointer;
    }

    #add {
        width: 50px;
        grid-column: 4;
        grid-row: 4 / span 1;

        &:disabled {
            opacity: 0.45;
            color: white;
            cursor: not-allowed;
        }
    }
}