header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    background-color: #12002f;
    
    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    h2 {

        font-size: 38px;
        a {
            color: aliceblue;
            text-decoration: none;
        }

        span {
            color: #ff9fdb;
        }
    }

    .cart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            position: absolute;
            font-size: 12px;
            margin-top: 4px;
            color: aliceblue;
        }
    }

}

