.main {
    position: relative;
    min-height: 100vh;
    margin-top: 130px;

    input {
        position: fixed;
        right: 50px;
        appearance: none;
        outline: none;
        border:none;
        border-bottom: 1px solid;
        font-size: 25px;
        padding-left: 3px;
    }  
    
    .container {
        padding-top: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 20px;
        margin-bottom: 25px;
    }

    #message {
        margin-left: 50px;
        margin-top: 50px;
        color: grey
    }
}