@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', Helvetica, sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.button {
  text-decoration: none;
  padding: 7px;
  border-radius: 10px;
  background-color: #ff9fdb;
  color: aliceblue;
  cursor: pointer;
  border: none;
  font-size: 15px;
}